html
  overflow-y scroll

body
  font-family 'Droid Sans', sans-serif

h1
  font-family 'Lobster', cursive

.doc-separator
  margin 20px 0 40px

.buildStatus
  float right

p.description
  text-align justify

ul.dropdown-menu li a p
  display inline

#footer
  border-top 1px solid #e5e5e5
  margin-top 20px
  padding 20px 20px
  text-align right

.affix
  top 20px
  @media (max-width: 991px)
    position static
  @media (min-width: 992px)
    width 243px
  @media (min-width: 1200px)
    width 293px
